
*{
  margin: 0;
  padding: 0;
}

/* style for font add */

.inter-font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
  max-width: 1600px ;
  margin: 0 auto;
  margin-top: 10px;
}

.navbar {
  max-width: 1600px;
  height: 92px;
  background-color: #1A0B2E ;
  margin: 0 auto;
}

.nav-container {
  max-width: 1200px;
  height: 92px;
  background-color: #1A0B2E  ;
  margin: 0 auto;
  /* border: 1px solid #ffffff; */
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo , .footer-logo {
  cursor: pointer;
}

.nav-links .links-list {
  display: flex;
  gap: 32px;
}

.links-list {
  list-style: none;
}

.links-list li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.links-list li a:hover {
  background-color: #FB09B4;
  color: yellow;
  font-size: 1.25rem;
  transition: 500ms;
}


.tech {
  font-size: 3rem;
  color: white;
}

.wave {
  font-size: 3rem;
  background-image: linear-gradient( #9100F8, #FB09B4, #e6da5c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; 
  
}


.subscribe-btn {
  background-image: linear-gradient( #9100F8, #FB09B4, #e6da5c);
  color: white;
  width: 135px;
  height: 44px;
  padding: 12px 16px;
  border-radius: 10000px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.subscribe-btn:hover {
  color: #e6da5c;
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
  transition: 500ms;
}

.hero-section {
  max-width: 1600px;
  height: 760px;
  background: #1A0B2E;
  margin: 0 auto;
}


.hero-container {
  max-width: 1600px;
  height: 760px;
  /* background: #9100F8; */
  background: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;  
  background-size: contain;
  background-position: center;
}

.hero-items {
  width: 550px;
  height: 558px;
  /* border: 1px solid rgb(13, 204, 13); */
  /* margin: 101px 525px; */
  padding-top: 101px;
  margin-bottom: 0px;
  margin-right: 525px;
  margin-left: 525px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.microphone {
  width: 350px;
  height: 350px;
  /* border: 1px solid rgb(197, 19, 102); */
  background: url(assets/hero-circle.png);
  background-repeat: no-repeat;

  /* margin: 0 auto; */
}

.btn-new {
  
}

.microphone-pic {
  margin: 77.33px 97.67px 116.67px 116.67px;
}


.hero-info {
  width: 550px;
  height: 168px;
  /* border: 1px solid rgb(14, 230, 176); */
  /* margin: 0 auto; */
  margin-top: auto;
  /* background-color: #FB09B4; */
  text-align: center;
}

.hero-info-heading {
  font-size: 60px;
  font-weight: 800;
  color: white;

}
.hero-info .info {
  color: white;
  margin-bottom: 24px ;
  margin-top: 8px;

}

.hero-btn-1 {
  background-image: linear-gradient( #9100F8, #FB09B4, #e6da5c);
  color: white;
  width: 201px;
  height: 44px;
  padding: 12.5px auto;
  border-radius: 10000px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}


.hero-btn-2 {
  background:none;
  border: 1px solid green;
  color: green;
  width: 201px;
  height: 44px;
  padding: 12.5px auto;
  border-radius: 10000px;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}









.about-container {
  max-width: 1600px;
  height: 646px;
  border: 1px solid rgb(13, 204, 13);
  /* margin: 101px 525px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1A0B2E;

}


.about-info {
  width: 1200px;
  height: 222px;
  border: 1px solid rgb(12, 15, 223);
  margin: 50px 200px 160px  ;
}

.about-card-container {
  width: 1200px;
  height: 94px;
  border: 1px solid rgb(12, 223, 47);
  margin: 0 auto;
  
}

.features {
  max-width: 1600px;
  height: 1121px;
  border: 1px solid rgb(25, 204, 228);
  margin: 0 auto;
  background: #230E3D ;
}

.features-heading {
  width: 1200px;
  height: 58px;
  border: 1px solid rgb(12, 223, 47);
  margin-top: 120px ;
  margin: 120px 200px 40px;
}

.features-container {
  max-width: 1200px;
  height: 783px;
  /* border: 1px solid rgb(25, 204, 228); */
  margin: 0 auto;
  background: #230E3D ;
  margin: 0 200px 120px ;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  row-gap: 30px ;
  column-gap: 30px;

}



.premium {
  grid-column: span 1;
  grid-row: span 2;
}

.mobile-freindly {
  grid-column: span 2;
  grid-row: span 1;

}


.global {
  grid-column: span 2;
  grid-row: span 1;

}

.ex-interviews {
  grid-column: span 2;
  grid-row: span 1;
}

.rich-resources {
  grid-column: span 1;
  grid-row: span 1;

}

.premium, .mobile-freindly, .global, .ex-interviews ,.rich-resources {
  border-radius: 40px;
  background-color: #351165;

}


.Featured-Episodes {
  max-width: 1600px;
  height: 1276px;
  border: 1px solid rgb(247, 10, 10);
  background-color:#1A0B2E ;
  margin: 0 auto;

}


.episodes-section-heading {
  max-width: 1200px;
  height: 58px;
  border: 1px solid rgb(12, 223, 47);
  margin-top: 120px ;
  margin: 120px 200px 40px;
}

.episodes-card-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  column-gap: 30px;
  row-gap: 30px;
}


.episodes-card {
  width: 380px;
  height: 440px;
  border: 1px solid rgb(12, 209, 223);
  background-color: #250D44 ;
}


.host-part {
  max-width: 1200px;
  height: 378px;
  border: 1px solid rgb(12, 198, 223);
  margin: 120px 200px;
}

.host-part-heading {
  max-width: 1200px;
  height: 58px;
  border: 1px solid rgb(12, 223, 47);
  margin-bottom: 40px;
}

.host-container {
  max-width: 1200px;
  height: 280px;
  border: 1px solid rgb(223, 12, 23);
}


footer {
  max-width: 1600px;
  height: 412px;
  border: 1px solid rgb(12, 223, 47);
}


  

